<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/">
</head>
<body>
    <main>
        
        <div class="container">
            <div class="background-img"></div>
            <div class="background-color"></div>
            <div class="container-panel">
                <div class="panel">
                     <form action="" method="post">
                        <button class="settings" id="setting" name="settings" value="true">
                            <svg width="30" height="30" viewBox="0 0 38 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path class="setting-svg" fill-rule="evenodd" clip-rule="evenodd" d="M17.8099 0.256027C16.7086 0.256027 15.7541 0.949881 15.5106 1.92737L14.8502 4.5784C13.799 4.85664 12.7961 5.23768 11.8558 5.70848L9.32895 4.25876C8.39734 3.72429 7.18328 3.84796 6.40455 4.55667L4.72343 6.08671C3.94473 6.79541 3.80882 7.90035 4.3961 8.74822L5.98958 11.0488C5.47269 11.9043 5.05441 12.8167 4.749 13.7732L1.83639 14.3741C0.762384 14.5957 0 15.4645 0 16.4667V18.6305C0 19.6328 0.762384 20.5016 1.83639 20.7232L4.74933 21.3242C5.05494 22.2809 5.47347 23.1935 5.9906 24.0492L4.3974 26.3495C3.81012 27.1972 3.94603 28.3021 4.72473 29.011L6.40589 30.541C7.18458 31.2496 8.39864 31.3733 9.33025 30.8389L11.8578 29.3889C12.7975 29.8592 13.7997 30.2399 14.8502 30.5178L15.5106 33.1689C15.7541 34.1464 16.7086 34.8403 17.8099 34.8403H20.1874C21.2886 34.8403 22.2432 34.1464 22.4867 33.1689L23.1468 30.5188C24.1982 30.2409 25.2013 29.8599 26.1418 29.3894L28.6692 30.8394C29.6006 31.3738 30.8147 31.2501 31.5935 30.5415L33.2747 29.0115C34.0533 28.3026 34.1892 27.1977 33.602 26.35L32.0093 24.0505C32.5269 23.1944 32.9457 22.2813 33.2514 21.324L36.1635 20.7232C37.2375 20.5016 38 19.6328 38 18.6305V16.4667C38 15.4645 37.2375 14.5957 36.1635 14.3741L33.2517 13.7733C32.9463 12.8163 32.5277 11.9034 32.0104 11.0475L33.6031 8.74771C34.1906 7.89984 34.0546 6.79491 33.2758 6.08618L31.5946 4.55616C30.816 3.84746 29.602 3.72376 28.6703 4.25826L26.1437 5.70787C25.2026 5.23679 24.199 4.85563 23.1468 4.57744L22.4867 1.92737C22.2432 0.949881 21.2886 0.256027 20.1874 0.256027H17.8099ZM11.8452 8.23889C13.3062 7.30708 14.9965 6.65288 16.8238 6.36043L17.8099 2.40178H20.1874L21.1733 6.35985C23.0015 6.65195 24.6928 7.30615 26.1545 8.23821L29.9276 6.07343L31.6088 7.60345L29.23 11.0376C30.2538 12.3675 30.9725 13.9062 31.2934 15.5694L35.6423 16.4667V18.6305L31.2931 19.5279C30.9719 21.1914 30.253 22.7303 29.2289 24.0601L31.6074 27.4943L29.9262 29.0241L26.1526 26.8592C24.6914 27.7907 23.0008 28.4445 21.1733 28.7366L20.1874 32.6946H17.8099L16.8238 28.7358C14.9972 28.4435 13.3075 27.7897 11.847 26.8584L8.07301 29.0236L6.39185 27.4935L8.77082 24.0591C7.74723 22.7294 7.02864 21.191 6.7075 19.528L2.35766 18.6305V16.4667L6.70731 15.5693C7.02823 13.9065 7.74648 12.3684 8.76966 11.0388L6.39055 7.60398L8.0717 6.07396L11.8452 8.23889ZM23.2298 17.5478C23.2298 19.6738 21.3361 21.3973 19.0001 21.3973C16.6641 21.3973 14.7704 19.6738 14.7704 17.5478C14.7704 15.4218 16.6641 13.6983 19.0001 13.6983C21.3361 13.6983 23.2298 15.4218 23.2298 17.5478ZM25.7261 17.5478C25.7261 20.9286 22.7148 23.6693 19.0001 23.6693C15.2854 23.6693 12.274 20.9286 12.274 17.5478C12.274 14.167 15.2854 11.4263 19.0001 11.4263C22.7148 11.4263 25.7261 14.167 25.7261 17.5478Z" fill="#686868"/>
                            </svg>
                        </button>
                        <button class="settings" id="setting" name="add_game" value="true">
                            <svg width="30" height="30" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path class="setting-svg" fill-rule="evenodd" clip-rule="evenodd" d="M3.0025 18.403C3.0025 27.3455 9.36024 33.4371 16.4995 34.6979C17.3165 34.8421 17.8641 35.6344 17.7226 36.4678C17.5811 37.3009 16.8042 37.8593 15.9872 37.7151C7.60031 36.2339 0 29.0249 0 18.403C-2.88045e-06 13.8889 2.01378 10.3414 4.36547 7.64275C6.05011 5.70958 7.97742 4.13997 9.52745 2.93754H4.81385C4.01844 2.93754 3.37362 2.27994 3.37362 1.46877C3.37362 0.657598 4.01844 0 4.81385 0H13.4552C14.2506 0 14.8954 0.657598 14.8954 1.46877V10.2814C14.8954 11.0926 14.2506 11.7502 13.4552 11.7502C12.6598 11.7502 12.015 11.0926 12.015 10.2814V4.85996L12.0106 4.86331C10.3645 6.12942 8.3526 7.67686 6.60978 9.67679C4.55164 12.0386 3.0025 14.8919 3.0025 18.403ZM34.9977 19.5969C34.9977 10.7489 28.7748 4.69296 21.7273 3.34372C20.9124 3.1877 20.3758 2.38755 20.5288 1.55649C20.6818 0.725456 21.4664 0.17825 22.2812 0.334263C30.5604 1.91936 38 9.08885 38 19.5969C38 24.1109 35.9863 27.6584 33.6347 30.3571C31.9499 32.2903 30.0226 33.8598 28.4726 35.0625H33.1865C33.9818 35.0625 34.6267 35.7199 34.6267 36.5312C34.6267 37.3423 33.9818 38 33.1865 38H24.545C23.7496 38 23.1047 37.3423 23.1047 36.5312V27.7186C23.1047 26.9072 23.7496 26.2497 24.545 26.2497C25.3404 26.2497 25.9852 26.9072 25.9852 27.7186V33.1398L25.9897 33.1363C27.6358 31.8702 29.6475 30.323 31.3902 28.3231C33.4486 25.9612 34.9977 23.1079 34.9977 19.5969Z" fill="#686868"/>
                            </svg>
                        </button>
                    </form>
                    
                        <div class="button-games">
                        {{!-- <button class="panel-item ">
                            <img src="../img/cs-icon.png" alt="" width="30px" height="30px">
                        </button>
                        <button class="panel-item">
                            <img src="../img/dota-icon.jpg" alt="" width="30px" height="30px">
                        </button>
                        <button class="panel-item">
                            <img src="../img/lol_icon.png" alt="" width="30px" height="30px">
                        </button> --}}
                        {{#each games}}
                            <button class="panel-item" type="submit" value="{{this.cmd}}">
                                <img src="" alt="{{this.name}} " width="30px" height="30px">
                            </button>
                        {{/each}}
                        </div>
                    
                    
                    
                </div>
                <form action="" method="post" class="form-start">
                    <button class="button-play" id="play-button" name="start_cmd" value="">
                        play
                    </button>
                </form>
            </div>

        </div>
    </main>
    <dialog id="setting-dialog">
        <form class="setting-container" method="post" id="modal-box">
            <h1 class="setting-title">
                <div class="settings-icon">
                    <svg width="30" height="30" viewBox="0 0 38 35" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path class="setting-svg" fill-rule="evenodd" clip-rule="evenodd" d="M17.8099 0.256027C16.7086 0.256027 15.7541 0.949881 15.5106 1.92737L14.8502 4.5784C13.799 4.85664 12.7961 5.23768 11.8558 5.70848L9.32895 4.25876C8.39734 3.72429 7.18328 3.84796 6.40455 4.55667L4.72343 6.08671C3.94473 6.79541 3.80882 7.90035 4.3961 8.74822L5.98958 11.0488C5.47269 11.9043 5.05441 12.8167 4.749 13.7732L1.83639 14.3741C0.762384 14.5957 0 15.4645 0 16.4667V18.6305C0 19.6328 0.762384 20.5016 1.83639 20.7232L4.74933 21.3242C5.05494 22.2809 5.47347 23.1935 5.9906 24.0492L4.3974 26.3495C3.81012 27.1972 3.94603 28.3021 4.72473 29.011L6.40589 30.541C7.18458 31.2496 8.39864 31.3733 9.33025 30.8389L11.8578 29.3889C12.7975 29.8592 13.7997 30.2399 14.8502 30.5178L15.5106 33.1689C15.7541 34.1464 16.7086 34.8403 17.8099 34.8403H20.1874C21.2886 34.8403 22.2432 34.1464 22.4867 33.1689L23.1468 30.5188C24.1982 30.2409 25.2013 29.8599 26.1418 29.3894L28.6692 30.8394C29.6006 31.3738 30.8147 31.2501 31.5935 30.5415L33.2747 29.0115C34.0533 28.3026 34.1892 27.1977 33.602 26.35L32.0093 24.0505C32.5269 23.1944 32.9457 22.2813 33.2514 21.324L36.1635 20.7232C37.2375 20.5016 38 19.6328 38 18.6305V16.4667C38 15.4645 37.2375 14.5957 36.1635 14.3741L33.2517 13.7733C32.9463 12.8163 32.5277 11.9034 32.0104 11.0475L33.6031 8.74771C34.1906 7.89984 34.0546 6.79491 33.2758 6.08618L31.5946 4.55616C30.816 3.84746 29.602 3.72376 28.6703 4.25826L26.1437 5.70787C25.2026 5.23679 24.199 4.85563 23.1468 4.57744L22.4867 1.92737C22.2432 0.949881 21.2886 0.256027 20.1874 0.256027H17.8099ZM11.8452 8.23889C13.3062 7.30708 14.9965 6.65288 16.8238 6.36043L17.8099 2.40178H20.1874L21.1733 6.35985C23.0015 6.65195 24.6928 7.30615 26.1545 8.23821L29.9276 6.07343L31.6088 7.60345L29.23 11.0376C30.2538 12.3675 30.9725 13.9062 31.2934 15.5694L35.6423 16.4667V18.6305L31.2931 19.5279C30.9719 21.1914 30.253 22.7303 29.2289 24.0601L31.6074 27.4943L29.9262 29.0241L26.1526 26.8592C24.6914 27.7907 23.0008 28.4445 21.1733 28.7366L20.1874 32.6946H17.8099L16.8238 28.7358C14.9972 28.4435 13.3075 27.7897 11.847 26.8584L8.07301 29.0236L6.39185 27.4935L8.77082 24.0591C7.74723 22.7294 7.02864 21.191 6.7075 19.528L2.35766 18.6305V16.4667L6.70731 15.5693C7.02823 13.9065 7.74648 12.3684 8.76966 11.0388L6.39055 7.60398L8.0717 6.07396L11.8452 8.23889ZM23.2298 17.5478C23.2298 19.6738 21.3361 21.3973 19.0001 21.3973C16.6641 21.3973 14.7704 19.6738 14.7704 17.5478C14.7704 15.4218 16.6641 13.6983 19.0001 13.6983C21.3361 13.6983 23.2298 15.4218 23.2298 17.5478ZM25.7261 17.5478C25.7261 20.9286 22.7148 23.6693 19.0001 23.6693C15.2854 23.6693 12.274 20.9286 12.274 17.5478C12.274 14.167 15.2854 11.4263 19.0001 11.4263C22.7148 11.4263 25.7261 14.167 25.7261 17.5478Z" fill="#ffffff"/>
                    </svg>
                </div>
                Settings
            </h1>
            <div class="setting-items">

            </div>
            <div class="setting-buttons">
                <div class="container-button">
                    <button class="choose-close setting-open" name="add" value="true">Save</button>
                </div>
                <div class="container-button">
                    <button class="choose-close setting-close"  name="back" value="true">Close</button>
                </div>
            </div>
        </form>
    </dialog>
    <script src="../app/index.js"></script>
</body>
</html>